$mobile: 'only screen and (max-width: 720px)';

body {
  overflow: hidden;
}

.contentWrap {
  background: linear-gradient(145deg, #0272a4, #f6a564);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;

  .album {
    position: absolute;
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    width: 600px;
    height: 400px;

    @media #{$mobile} {
      width: 300px;
      height: 200px;
    }

    &.active {
      visibility: visible;
      opacity: 1;

      .cover {
        right: 35%;
      }
      .disk {
        left: 35%;
        @media #{$mobile} {
          left: 30%;
        }
      }
    }

    .cover {
      position: absolute;
      right: 45%;
      width: 400px;
      height: 400px;
      cursor: pointer;
      transition: all 1s ease;
      @media #{$mobile} {
        width: 200px;
        height: 200px;
      }

      img {
        width: inherit;
        height: inherit;
      }
    }

    .disk {
      background: linear-gradient(120deg, #000, #333, #000);
      position: absolute;
      width: 392px;
      height: 392px;
      border-radius: 50%;
      animation: rotateAni 10s infinite;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 55%;
      box-shadow: 2px 14px 40px rgba(0, 0, 0, 0.3);
      transition-delay: 0.5s;
      transition: all 1s ease;

      @media #{$mobile} {
        width: 192px;
        height: 192px;
      }

      .disk_inner {
        position: absolute;
        width: 160px;
        height: 160px;
        background-color: #0272a4;
        border-radius: 50%;
        border: 3px dashed rgba(255, 255, 255, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;

        @media #{$mobile} {
          width: 72px;
          height: 72px;
        }

        &::after {
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #000;
        }
      }

      &:hover {
        left: 45%;
      }
    }
  }
}

.buttonWrap {
  width: 100vw;
  bottom: 8%;
  display: flex;
  justify-content: center;
  position: fixed;

  ul {
    width: 200px;
    display: flex;
    list-style: disc;
    align-items: center;
    justify-content: space-evenly;

    li {
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 50%;
      font-size: 1.25rem;
      background-color: rgba(0, 0, 0, 0.4);
      cursor: pointer;

      &.active {
        background-color: rgba(255, 255, 255, 0.8);
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  button {
    padding: 8px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: black;
    font-weight: 600;
    border-radius: 4px;

    &:hover {
      opacity: 0.7;
    }
  }
}

@keyframes rotateAni {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
